.container {
    max-width: 100%;
    margin: auto;
    overflow-x: clip;
}

.sec1 {
    background: url("img/sec1.jpg") no-repeat;
    background-size: cover;
    height: 1096px;
    padding-top: 24px;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    height: 62px;
    max-width: 1275px;
    margin: auto;
}

.container3 {
    max-width: 1192px;
    margin: auto;
    position: relative;
}

.nav__frame {
    padding: 19px 31px 18px 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.nav__text {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.nav__logo {
    padding-left: 2.5%;
    align-items: center;
}

.text {
    top: 212px;
    left: -2.5%;
    position: absolute;
}

.text__name {
    font-family: Open Sans;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.text__tittle {
    font-family: Anton;
    font-size: 92px;
    line-height: 135px;
    color: #FFFFFF;
    position: relative;
    top: -10px;
}

.text__sub-tittle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 9px 0 51px 0;
}

.text__button {
    padding: 26px 35px;
    border: 4px solid #FFFFFF;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 77px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    position: relative;
}

.text__button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: all 1s ease;
}

.text__button:hover:before {
    height: 78px;
}

.sec2 {
    background: url("img/sec2.jpg") no-repeat;
    background-size: cover;
    height: 866px;
    position: relative;
}


.info {
    top: 210px;
    left: 1.5%;
    position: absolute;
}

.sec3 {
    height: 1037px;
    background: black;
    background-size: cover;
}

.sub-sec3 {
    background: url("img/sec3.png") no-repeat;
    background-size: cover;
    height: 795px;
    max-width: 1196px;
    margin: auto;
    position: relative;
    top: 11%;
}

.sec3__tittle {
    font-family: Anton;
    font-size: 440px;
    line-height: 815px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    mix-blend-mode: soft-light;
    margin-left: -1.4%;

}

.box__tittle {
    font-family: Anton;
    font-size: 64px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    max-width: 312px;
    padding-bottom: 20px;
}

.box__text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    max-width: 387px;
    padding-bottom: 22px;
}

.box__button {
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 77px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    width: 290px;
    height: 77px;
    text-align: center;
    position: relative;
}

.box__button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: all 1s ease;
}

.box__button:hover:before {
    height: 73px;
}

.sec3__box {
    background: rgba(25, 65, 106, 0.5);
    backdrop-filter: blur(44px);
    max-width: 480px;
    max-height: 638px;
    position: absolute;
    top: 10%;
    left: 50%;
    padding: 4% 3.2% 6% 4%;
}

p {
    padding-top: 15px;
}

.sec4 {
    background: #F1F1F1;
    height: 968px;
    position: relative;
}

.sec4__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1192px;
    margin: auto;
}

.thumb {
    height: 604px;
    width: 31%;
    margin: 107px 0 84px 0;
}

.thumb__img {
    background: url("img/pic1.png") no-repeat;
    height: 45%;
    width: 100%;
}

.thumb__img2 {
    background: url("img/pic2.png") no-repeat;
    height: 45%;
    width: 100%;
}

.thumb__img3 {
    background: url("img/pic3.png") no-repeat;
    height: 45%;
    width: 100%;
}

.img__date {
    width: 178px;
    height: 46px;
    background: #FFFFFF;
    font-family: Open Sans;
    font-weight: 800;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    position: relative;
    top: 84%;
}

.thumb__info {
    background: #FFFFFF;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
    height: 55%;
    padding: 27px 0 0 38px;
}

.info__tittle {
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #000000;
    max-height: 60px;
    max-width: 291px;
    padding-bottom: 15px;
}

.info__sub-tittle {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #313131;
    max-width: 291px;
    max-height: 120px;
}

.sec4__button {
    border: 4px solid #313131;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 74px;
    padding: 22px 30px;
    position: relative;
    letter-spacing: 0.07em;
    margin-left: 37%;
}

.sec4__btn {
    max-width: 1192px;
    margin: auto;
}

.sec4__button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    transition: all 1s ease;

}

.sec4__button:hover:before {
    height: 74px;
}

.faq__tittle {
    font-family: Anton;
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.faq__sub-tittle {
    margin-bottom: 25px;
    font-family: Open Sans;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.faq__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.sec5 {
    background: black;
    position: relative;
    top: -76px;
    height: 998px;
}

.container2 {
    height: 860px;
    margin: auto;
    max-width: 1192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moon_back {
    background: black;
    position: relative;
    top: -25px;
}

.moon {
    background: url("img/moon.png") no-repeat;
    background-size: auto;
    height: 437px;
    max-width: 1444px;
    margin: auto;
}

.footer {
    height: 200px;
    background: #FFFFFF;
    position: relative;
    top: -76px;
}

.footer__nav {
    display: flex;
    max-width: 1194px;
    margin: auto;
    justify-content: space-between;
    line-height: 200px;
}

.footer__frame {
    display: flex;
    justify-content: space-between;
    width: 67.2%;
}

.footer__text {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}

.footer__quest {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #000000;
}

.footer__logo {
    width: 220px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav__frame a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0 2px;
    transition: background-size .3s;
}

.nav__frame a:hover {
    background-size: 100% 2px;
}

.footer__text a {
    transition: 0.7s;
}

.footer__text a:hover {
    opacity: 0.3;
}

.abw {
    height: 500px;
}

#menu__toggle {
    opacity: 0;
}

@media (max-width: 1443px) {

    .text {
        top: 185px;
        left: 5%;
    }

    .menu__btn {
        display: flex;
        align-items: center;
        position: relative;
        right: 3%;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
    }

    .menu__btn > span::before {
        content: '';
        top: -8px;
    }

    .menu__btn > span::after {
        content: '';
        top: 8px;
    }

    /* контейнер меню */
    .nav__frame {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        text-align: center;
        background-color: cadetblue;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        z-index: 1;
    }

    /* элементы меню */
    .nav__text {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
    }

    .nav__text:hover {
        background-color: #CFD8DC;
    }

    #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .nav__frame {
        visibility: visible;
        left: 0;
    }

    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        transition-duration: .25s;
    }

    .nav__frame {
        transition-duration: .25s;
    }

    .nav__text {
        transition-duration: .25s;
    }

    .info {
        left: 5%;
    }

    .sec3 {
        height: 100%;
    }

    .sub-sec3 {
        max-width: 1360px;
    }

    .sec3__tittle {
        font-size: 290px;
    }

    .sec3__box {
        top: 12%;
        left: 42%;
        padding: 5% 3.2% 10% 7%;
    }

    .text__button {
        padding: 21px 64px;
    }

    .text__button:hover:before {
        height: 73px;
    }

    .sec4 {
        height: 1382px;
    }

    .sec4__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        max-width: 769px;
    }

    .thumb {
        position: relative;
        height: 602px;
        width: 330px;
        left: 5.5%;
        top: -69px;
        margin-right: 4%;
        margin-bottom: -6%;
    }

    .info__tittle {
        font-size: 22.3px;
    }

    .sec4__btn {
        position: relative;
        text-align: center;
        height: 626px;
        width: 330px;
        background: linear-gradient(
                180deg, rgba(162, 162, 162, 0.08) 0%, #DDDDDD 100%);
        left: 184px;
        top: -45.2%;
    }

    .sec4__button {
        border: 4px solid #313131;
        font-family: Open Sans;
        font-weight: bold;
        font-size: 18px;
        line-height: 563px;
        padding: 21px 17px;
        position: relative;
        letter-spacing: 0.07em;
        margin-left: 0;
    }

    .container2 {
        max-width: 684px;
    }

    .moon {
        background-size: contain;
        max-height: 233px;
        max-width: 769px;

    }

    .sec5 {
        top: -28px;
        height: 1210px;
    }

    .faq {
        padding-bottom: 25px;
    }

    .footer__nav {
        max-width: 694px;
        line-height: 0;
        display: block;
    }

    .footer__logo {
        margin-top: 14%;
    }

    .footer__frame {
        width: 645px;
        margin-top: 8%;
    }

    .footer__quest {
        position: absolute;
        top: 67%;
    }
}

@media (max-width: 767px) {
    .sec1 {
        height: 730px;
        background-position: -253px;
    }

    .nav__logo img {
        width: 152px;
        height: 12px;
    }

    .text {
        top: 34px;
    }

    .text__button {
        padding: 18px 28px;
        font-size: 14px;
        line-height: 19px;
    }


    .text__name {
        font-size: 44px;
        line-height: 50px;
        max-width: 240px
    }

    .text__tittle {
        font-size: 62px;
        line-height: 72px;
        margin-top: 25px;
    }

    .text__sub-tittle {
        font-size: 14px;
        line-height: 19px;
    }

    .sec2 {
        height: 610px;
    }

    .info {
        top: 119px;
    }

    .sec3__tittle {
        position: absolute;
        z-index: -1;
        width: 100px;
    }

    .sec3__box {
        position: relative;
        left: 0;
        height: 810px;
        top: 614px;
        padding-top: 65px;
        padding-bottom: 103px;
        max-width: 100%;
    }

    .box__tittle {
        font-size: 62px;
        line-height: 70px;
    }

    .box__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        padding-bottom: 55px;
    }

    p {
        padding-top: 0;
    }

    .text__button {
        font-size: 14px;
        line-height: 19px;
        padding: 23px 47px;
    }

    .sec4 {
        display: block;
        height: 2234px;
        top: 625px;
    }

    .sec4__cards {
        display: block;
        padding-top: 70px;
    }

    .thumb {
        margin: auto auto 40px auto;
        width: 284px;
        height: 631px;
        position: initial;
    }

    .thumb__img {
        height: 43%;
    }

    .thumb__img2 {
        height: 43%;
    }

    .thumb__img3 {
        height: 43%;
    }

    .thumb__info {
        height: 52%;
        max-width: 100%;
        padding: 18px 0 0 17px;
    }

    .sec4__btn {
        position: initial;
        background: none;
        margin-top: 70px;
        width: auto;
    }

    .sec4__button {
        font-size: 14px;
        line-height: 19px;
        padding: 21px 47px;
    }

    .moon_back {
        top: 625px;
        height: 170px;
    }

    .moon {
        position: relative;
        top: 63px;
        max-width: 340px;
        max-height: 104px;
    }

    .sec5 {
        height: 2000px;
        top: 625px;
    }

    .container2 {
        height: 1806px;
        padding-left: 15px;
    }

    .faq {
        padding-bottom: 0;
    }

    .faq__sub-tittle {
        font-size: 22px;
        line-height: 30px;
        max-width: 75%;
    }

    .faq__text {
        max-width: 92%;
    }

    .footer {
        top: 618px;
        height: 429px;
    }

    .footer__nav {
        width: 100%;
        line-height: 0;
        padding-left: 16px;
    }

    .footer__logo {
        margin: 58px 0 38px 0;
    }

    .footer__logo a img {
        width: 152px;
        height: 11.75px;
    }

    .footer__frame {
        display: block;
        width: 0;
    }

    .footer__text {
        margin-bottom: 40px;
        width: 120px;
        text-align: left;
    }

    .footer__text a {
        font-size: 14px;
        line-height: 10px;
    }

    .footer__quest {
        font-size: 14px;
        line-height: 19px;
        top: 69%;
    }

    .text__button:hover:before {
        height: 66px;
    }

    .sec4__button:hover:before {
        height: 64px;
    }
}

@media (max-width: 345px) {
    .sec2  {
        background-position: -128px;
    }
}