.container {
    max-width: 1444px;
    margin: auto;
}

.sec1 {
    height: 1096px;
    background-size: 100%;
    background: url("img/sec1.jpg") no-repeat;
    padding-top: 24px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    background-size: auto;
    height: 62px;
    max-width: 1275px;
    margin: auto;
}

.nav__frame {
    padding: 19px 31px 18px 0;
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.nav__text {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.nav__logo {
    padding-left: 2.5%;
    align-items: center;
}

.text {
    padding: 14.4% 0 0 6.7%;
    position: relative;
}

.text__name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 87px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.text__tittle {
    font-family: Anton;
    font-style: normal;
    font-weight: normal;
    font-size: 92px;
    line-height: 135px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    position: relative;
    top: -10px;
}

.text__sub-tittle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding: 9px 0 51px 0;
}

.text__button {
    width: 290px;
    height: 77px;
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 77px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    text-align: center;
    position: relative;
}

.text__button:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    transition: all 1s ease;
}

.text__button:hover:before {
    height: 73px;
}

.sec2 {
    background: url("img/sec2.jpg") no-repeat;
    background-size: 100%;
    height: 866px;
}

.info {
    padding: 21% 0 0 8%;
}

.sec3 {
    height: 1037px;
    background: black;
    background-size: 100%;
}

.sub-sec3 {
    background: url("img/sec3.png") no-repeat;
    background-size: auto;
    height: 795px;
    max-width: 1196px;
    margin: auto;
    position: relative;
    top: 11%;
    padding-top: 6%;
}

.sec3__tittle {
    font-family: Anton;
    font-size: 440px;
    line-height: 645px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    mix-blend-mode: soft-light;
    margin-left: -1.4%;

}

.box__tittle {
    font-family: Anton;
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    max-width: 312px;
    padding-bottom: 20px;
}

.box__text {
    font-family: Open Sans;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    max-width: 387px;
    padding-bottom: 7%;
}

.box__button {
    border: 4px solid #FFFFFF;
    box-sizing: border-box;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 77px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    width: 290px;
    height: 77px;
    text-align: center;
    position: relative;
}

.box__button:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(255,255,255,0.3);
    border-radius: 5px;
    transition: all 1s ease;
}

.box__button:hover:before {
    height: 73px;
}

.sec3__box {
    background: rgba(25, 65, 106, 0.5);
    backdrop-filter: blur(44px);
    max-width: 480px;
    max-height: 638px;
    position: absolute;
    top: 9%;
    left: 50%;
    padding: 4% 3.2% 6% 4%;
}

p {
    padding-top: 15px;
}

.sec4 {
    background: #F1F1F1;
    height: 968px;
}

.sec4__cards {
    display: flex;
    justify-content: space-between;
    max-width: 1192px;
    margin: auto;
    padding-top: 8%;
}

.thumb {
    height: 604px;
    width: 31%;
}

.thumb__img {
    background: url("img/pic1.png") no-repeat;
    height: 45%;
    width: 100%;
}

.thumb__img2 {
    background: url("img/pic2.png") no-repeat;
    height: 45%;
    width: 100%;
}

.thumb__img3 {
    background: url("img/pic3.png") no-repeat;
    height: 45%;
    width: 100%;
}

.img__date {
    width: 178px;
    height: 46px;
    background: #FFFFFF;
    font-family: Open Sans;
    font-weight: 800;
    font-size: 16px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
    text-align: center;
    position: relative;
    top: 83%;
}

.thumb__info {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.07);
    height: 55%;
    padding: 27px 0 0 38px;
}

.info__tittle {
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #000000;
    max-height: 60px;
    max-width: 291px;
    padding-bottom: 15px;
}

.info__sub-tittle {
    font-family: Open Sans;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #313131;
    max-width: 291px;
    max-height: 120px;
}

.sec4__button {
    width: 304px;
    height: 77px;
    border: 4px solid #313131;
    box-sizing: border-box;
    font-family: Open Sans;
    font-weight: bold;
    font-size: 18px;
    line-height: 74px;
    text-align: center;
    margin: 74px auto auto auto;
    position: relative;
}

.sec4__button:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    transition: all 1s ease;
}

.sec4__button:hover:before {
    height: 73px;
}

.faq__tittle {
    font-family: Anton;
    font-size: 64px;
    line-height: 94px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    margin-bottom: 39px;
}

.faq__sub-tittle {
    margin-bottom: 25px;
    font-family: Open Sans;
    font-size: 34px;
    line-height: 46px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.faq__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.sec5 {
    background: black;
    position: relative;
    top: -76px;
    height: 998px;
}

.container2 {
    height: 860px;
    margin: auto;
    max-width: 1192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moon__img {
    width: 100%;
}

.moon {
    position: relative;
    top: -25px;
}

.footer {
    height: 200px;
    background: #FFFFFF;
    position: relative;
    top: -76px;
}

.footer__nav {
    display: flex;
    max-width: 1194px;
    margin: auto;
    justify-content: space-between;
    line-height: 200px;
}

.footer__frame {
    display: flex;
    justify-content: space-between;
    width: 67.2%;
}

.footer__text {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #000000;
}

.footer__quest {
    font-family: Open Sans Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.1em;
    color: #000000;
}

.footer__logo {
    width: 220px;
}

a {
    text-decoration:  none;
    color: inherit;
}

.nav__frame a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

.nav__frame a:hover {
    background-size: 100% 2px;
}

.footer__text a {
    transition: 0.7s;
}

.footer__text a:hover {
    opacity: 0.3;
}